@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes frameColorAnimation {
    0% {
        --color: #0072F5;
    }

    100% {
        --color: #1482ff;
    }
}

@keyframes expandWidth {
    0% {
        width: 20px;
    }

    100% {
        width: 300px;
    }
}

.custom-image-container img {
    --border: 15px;
    --gap: 12px;

    width: 300px;
    aspect-ratio: 1;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 20px;
    cursor: pointer;
    padding: calc(var(--border) + var(--gap));

    --angle: 90deg;
    background:
        radial-gradient(farthest-side, var(--color) 97%, #0000 101%) 85.35% 85.35%,
        conic-gradient(from calc(180deg - var(--angle)/2), #0000 var(--angle), var(--color) 0),
        radial-gradient(farthest-side, var(--color) 97%, #0000 101%) 14.65% 85.35%;
    background-size: var(--border) var(--border), auto;
    background-repeat: no-repeat;

    -webkit-mask:
        radial-gradient(farthest-side,
            #000 calc(99% - calc(var(--border) + var(--gap))),
            #0000 calc(100% - calc(var(--border) + var(--gap))) calc(99% - var(--border)),
            #000 calc(100% - var(--border)));
    mask:
        radial-gradient(farthest-side,
            #000 calc(99% - calc(var(--border) + var(--gap))),
            #0000 calc(100% - calc(var(--border) + var(--gap))) calc(99% - var(--border)),
            #000 calc(100% - var(--border)));
    animation: rotate 20s linear infinite, frameColorAnimation 1s infinite alternate, expandWidth 5s alternate;
    transition: all 1s ease-in-out;
}

.custom-image-container img:hover {
    --angle: 0deg;
    --gap: 5px;
}
